@import "tailwindcss";
@plugin "daisyui" {
  themes: sadaivandar ;
}

@theme {
  /* 1. Standard Colors */
  --color-primary: #006C49;
  --color-secondary: #4B7F74;
  --color-accent: #10B981;
  --color-neutral: #191C1D;

  /* 2. Custom "Light" Variants */
  /* This creates the 'bg-accent-light' and 'text-accent-light' classes */
  --color-primary-light: #D6F2E8;
  --color-secondary-light: #E2F0ED;
  --color-accent-light: #f1fef7;
  --color-neutral-light: #FFFFFF;
}


@plugin "daisyui/theme" {
  name: "sadaivandar";


  default: true; /* set as default */

  --color-primary: #006C49;

  --color-secondary: #4B7F74;

  --color-accent: #10B981;

  --color-neutral: #191C1D;

  --color-base-100: #FFFFFF;
  --color-base-200: #F3F4F5;
  --color-base-300: #E6E8EA;
  --color-base-content: #191C1D;

  --color-info: #0EA5E9;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #DC2626;

  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 9999px;

  --animation-btn: 0.25s;
  --btn-text-case: none;
}